<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ApolloDoener Gallerie"/>
        <meta name="keywords" content="ApolloDoener, Apollo, Doener, Main, Code, Gallerie, Gallery, Images" />


        <title>ApolloDoener Gallerie</title>

        <%- include("partials/includes.ejs") %>
        <link rel='stylesheet' href='/stylesheets/gallery.css' />
    </head>
    <body>
        <%- include("partials/nav.ejs") %>
        <% if(files != undefined) {%>
            <div class="header">
                <script>$('.header').css("background-image", "url('../gallery/<%- files[0] %>");
                </script>
            </div>
            <div class="images">
                <% for(var i = 1; i < files.length; i++) {
                    if((/\.(gif|jpg|jpeg|tiff|png)$/i).test(files[i])) { %>
                        <div class="image"><img class="gallery-image" src="/gallery/<%= files[i] %>"></div>
                <% }} %>
            </div>
        <% } else { %>
            <p id="no-pictures">Es wurden keine Bilder gefunden!</p>
        <% } %>
        <h3>Diese Gallerie ist noch nicht fertiggestellt und kann Fehler enthalten</h3>
        <%- include("partials/footer.ejs") %>
    </body>
</html>